<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>vorprojekt-ivayla-ivanova-1.0-SNAPSHOT</string>
    <key>CFBundleIdentifier</key>
    <string>org.vorprojekt.vorprojekt-ivayla-ivanova</string>
    <key>CFBundleName</key>
    <string>vorprojekt-ivayla-ivanova</string>
</dict>
</plist>
